[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    @abstract
    NotImplementedError
show_missing = True

[run]
omit =
    *tests*
    *__init__.py
    *mgc/_utils.py
