sphinxcontrib-rawfiles==0.1.1
nbsphinx==0.8.0
ipython==8.10.0
ipykernel==5.4.3
sphinx==4.0.2
pydata-sphinx-theme==0.7.1
sphinx-gallery==0.8.2
numpydoc==0.7.0
myst_parser
matplotlib
seaborn
sphinxcontrib-bibtex>=2.2.0
docutils==0.17.1
sphinx_sitemap